<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/></head>
<body onload="check_login()">
    <div>
        <button onclick="window.location.replace('/webui/admin' + window.location.search)">Return to main menu</button>
    </div>
    {{ .body | noescape }}
</body>

</html>

<script>
    function check_login() {
        // if there is a session then use it
        var session = sessionStorage.getItem("admin_session_key")
        if (session == null) {
            window.location.replace("/webui/admin/login")
        }
    }

    function clear_login_data() {
        sessionStorage.removeItem("admin_session_key")
    }

    function change_disable_state(disabled = false) {
        var all = document.getElementsByTagName("*")
        if (disabled) {
            for (let element of all) {
                element.setAttribute("disabled", null)
            }
        } else {
            for (let element of all) {
                element.removeAttribute("disabled")
            }
        }
    }

    // submit the form along with the verification from local storage
    function submit_form(formId, submitTo, isResponseFile = false, callback = null) {
        console.log(callback)
        var formData
        if (formId != null) {
            if (!document.getElementById(formId).checkValidity()) {
                document.getElementById(formId).reportValidity()
                return
            }
            formData = new FormData(document.getElementById(formId))
        } else {
            formData = new FormData()
        }
        change_disable_state(true)
        formData.append("admin_session_key", sessionStorage.getItem("admin_session_key"))
        var req = new XMLHttpRequest()
        req.open("POST", submitTo)
        if (!isResponseFile) {
            req.send(formData)
            req.onreadystatechange = function () {
                if (req.readyState != 4) return
                if (req.status == 200) {
                    console.log(req.responseText)
                    const resp = JSON.parse(req.responseText)

                    if (resp.error != null) {
                        clear_login_data()
                        alert(resp.error)
                        window.location.replace("/webui/admin/login")
                    } else {
                        alert(resp.response)
                        if (callback != null) {
                            change_disable_state(false)
                            callback()
                        } else {
                            change_disable_state(false)
                        }
                    }
                } else {
                    // no clear response from server
                    clear_login_data()
                    alert("unexpected error, status: " + req.status)
                    window.location.replace("/webui/admin/login")
                }
            }
        } else { // file, use this hack so there's a save dialog
            req.responseType = 'arraybuffer'
            req.send(formData)
            req.onreadystatechange = function () {
                if (req.readyState != 4) return
                if (req.status == 200) {
                    // https://gist.github.com/zynick/12bae6dbc76f6aacedf0
                    var filename = "";
                    var disposition = req.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = req.getResponseHeader('Content-Type');

                    var blob = new Blob([this.response], { type: type });
                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            // use HTML5 a[download] attribute to specify filename
                            var a = document.createElement("a");
                            // safari doesn't support this yet
                            if (typeof a.download === 'undefined') {
                                window.location = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location = downloadUrl;
                        }

                        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                    }
                    change_disable_state(false)
                    callback()
                } else {
                    // no clear response from server
                    clear_login_data()
                    alert("unexpected error, status: " + req.status)
                    window.location.replace("/webui/admin/login")
                }
            }
        }
    }
</script>